<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/flights/new">New Flight</a>
    <a href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>>All Flights</a>
    <h1><%= title %></h1>
    <p>This is a useless practice database</p>
  </body>
</html>
