<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <a href="/flights/new" class="badge badge-secondary"> Book New Flight</a>
    &nbsp; | &nbsp;
    <a href="/flights" class="badge badge-secondary"> View All Flights</a>
    <h1><%= title %></h1>
    <p>Powered by Bernoulli's Principle and Womack Codes!</p>
  </body>
</html>
